/* 

@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../fonts/e-UkraineHead-Light.otf') format('opentype');
    font-weight: 300;
}
@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../fonts/e-UkraineHead-Regular.otf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../fonts/e-UkraineHead-Medium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../fonts/e-UkraineHead-Bold.otf') format('opentype');
    font-weight: 700;
} */


/* ===== e-Ukraine Head: усі товщини ===== */
@font-face {
  font-family: 'e-Ukraine Head';
  src: url('../fonts/e-Ukraine-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine Head';
  src: url('../fonts/e-Ukraine-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine Head';
  src: url('../fonts/e-Ukraine-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine Head';
  src: url('../fonts/e-Ukraine-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* === окремо web-версія жирного для мобільних === */
@font-face {
  font-family: 'e-Ukraine Head';
  src: url('../fonts/e-ukrainehead-bold_w.woff2') format('woff2'),
       url('../fonts/e-ukrainehead-bold_w.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
