h1, h2, h3, strong {
    font-weight: 700; /* жирні заголовки */
}

p.muted {
    font-weight: 300; /* тонкий текст */
}


@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../fonts/e-ukrainehead-bold_w.woff2') format('woff2'),
         url('../fonts/e-ukrainehead-bold_w.woff') format('woff'),
         url('../fonts/e-ukrainehead-bold_w.ttf') format('truetype'),
         url('../fonts/e-UkraineHead-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

