

@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../fonts/e-UkraineHead-Light.otf') format('opentype');
    font-weight: 300;
}
@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../fonts/e-UkraineHead-Regular.otf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../fonts/e-UkraineHead-Medium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../fonts/e-UkraineHead-Bold.otf') format('opentype');
    font-weight: 700;
}
